.index-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .content-wrap {
        width: 100%;
        flex: auto;
        overflow: auto;
    }
    .tab-wrap {
        width: 100%;
        min-height: 50px;
    }
}
